@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 1250px;
        margin: 0 auto;
    }

    .navigation {
        display: none;
    }

    .header {
        z-index: 5;
        display: block;
        height: 185px;
        width: 1300px;
        padding: 15px 0;
        background-image: url("../assets/320_px/Subtract.png");
        background-repeat: no-repeat;
        background-size: 1300px 200px;
        
    }

    .header__logo {
        z-index: 500;
        background-image: url("../assets/png/Logo.png");
        width: 300px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: 300px 120px;
    }

    .phone__icon {
        background-image: url("../assets/png/Call.png");
        background-size: 169px 169px;
        background-repeat: no-repeat;
        width: 169px;
        height: 169px;
    }

    .phone__sale {
        display: block;
        background-image: url("../assets/320_px/basket.png");
        background-size: 100px 100px;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
    }

    .phone__text {
        display: none;
    }

    /* Welcome */

    .section {
        padding: 100px 0;
    }

    .welcome {
        background-image: url("../assets/img/Fon.jpg");
        height: 1000px;
        width: 1300px;
        background-repeat: no-repeat;
        background-size: 1300px 1500px;
        z-index: 5;
        position: relative;
    }

    .welcome__title {
        float: left;
    }

    .welcome__heading {
        background-image: url("../assets/png/Vector.png");
        background-size: 950px 150px;
        background-repeat: no-repeat;
        width: 950px;
        height: 150px;
        margin: 0 auto;
    }

    .welcome__text {
        z-index: 5;
        font-family: 'Cormorant Infant';
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 29px;
        padding: 72px 0 47px 0;
        width: 1150px;
    }

    .welcome__text-description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 146.4%;
        display: block;
        width: 700px;
        margin: 0 auto;
    }

    .welcome__btn {
        width: 581px;
        height: 159px;
    }
    
    .welcome__btn_theme {
        font-size: 44px;
        line-height: 16px;
        border: none;
        border-radius: 40px;
    }
    
    .welcome__btn_position {
        margin: 30px 0 0 0;
    }

    .welcome__health {
        width: 1267px;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        gap: 300px 20px;
        margin: 48px 0 0 0;
        text-align: center;
        z-index: 0;
        margin: 0 auto;
    }

    
    .welcome__item {
        display: block;
        width: 300px;
        height: 420px;
        text-align: center;
    }
    
    .welcome__item_top {
        padding: 85px 0 0 0;
    }

    .circle {
        width: 292px;
        height: 292px;
    }

    .welcome__icons-hedgehog,
    .welcome__icons-vaccination,
    .welcome__icons-love {
        width: 206px;
        height: 206px;
        background-size: 206px 206px; 
    }

    .welcome__text-first {
        font-size: 48px;
        line-height: 48px;
        padding: 38px 0 59px 0;
    }

    .welcome__text-last {
        font-size: 38px;
        line-height: 159.9%;
    }

    .welcome__hedgehog-photo-left {
        display: none;
    }
    .welcome__hedgehog-photo-right {
        display: none;
    }

    .welcome__hedgehog-photo-right-320px {
        display: block;
        
        width: 530px;
        height: 518px;
       
    }

    /* Dicount */

    .padding-320 {
        padding: 1500px 0 0 0;
    }

    .discount__content {
        display: block;
        justify-content: start;
        flex-wrap: wrap;
        z-index: 0;
    }

    .discount__item_display-320px {
        display: none;
    }

    .discount__item {
        position: relative;
        display: block;
        width: 1250px;
        height: 1200px;
        display: flex;
    }

    .discount__item_colors-last {
        background-color: #ffffffff;
    }

    .discount__titles {
        font-size: 120px;
        line-height: 118px;
    }
    
    .discount__text {
        font-size: 54px;
        line-height: 72px;
        padding: 100px 0 100px 0;
    }
    
    .discount__price-not {
        font-size: 90px;
        line-height: 24px;
        text-decoration-line: line-through;
        color: #C2CCCA;
    }
    
    .discount__price {
        font-size: 150px;
        line-height: 48px;
        color: #195557;
        padding: 100px 0 0 0;
    }

    .discount__cols2-img1 {
        margin: 400px 0 0 10px;
        background-image: url("../assets/png/63680734824-removebg-preview\ 1.png");
        background-size:  670px 587px;
        background-repeat: no-repeat;
        width: 670px;
        height: 587px;
        z-index: 6;
    }
    
   

    /* application */

    .application__form {
        display: block;
        width: 1300px;
        height: 3300px;
        margin: 0 auto;
        background: #EAEEEF;
        border-radius: 30px;
        padding: 39px 53px 0 49px;
    }

    .application__title {
        font-size: 104px;
        line-height: 150px;
        color: #195557;
        text-align: center;
    }

    .application__content {
        display: block;
        justify-content: space-evenly;
        text-align: left;
    }

    .application__btn-pull {
        display: block;
        justify-content: space-evenly;
    }

    .application__btn {
        font-size: 54px;
        line-height: 37px;
        margin: 0 14px 0 0;
    }

    .application__btn_size-first {
        border-radius: 61px;
        width: 770px;
        height: 190px;
    }
    
    .application__btn_size-medium {
        border-radius: 61px;
        width: 770px;
        height: 190px;
        margin: 50px 0;
    }
    
    .application__btn_size-last {
        border-radius: 61px;
        width: 899px;
        height: 190px;
    }

    .application__radio {
        display: block;
        justify-content: space-evenly;
    }
    
    .radio_padding {
        padding: 0 0 14px 0;
    }

    .radio_320px {
        font-size: 92px;
        padding: 50px 0 0 30px;
    }
    
    .input_320px {
        width: 80px;
        height: 80px;
    }

    .radio_padding {
        padding: 50px 0 14px 0;
    }
    

    .radio__cols1 {
        padding: 100px 53px 0 0;
    }
    
    .application__content-two {
        display: block;
        justify-content: space-evenly;
    }
    
    .application__input {
        font-size: 52px;
        width: 1222px;
        height: 152px;
        background: #F8F8F8;
        border-radius: 8px;
        border: none;
        padding: 33px 0 33px 23px;
        margin: 50px 0;
    }

    .application__textarea {
        font-size: 52px;
        width: 1222px;
        height: 208px;
        background: #F8F8F8;
        border-radius: 8px;
        border: none;
        margin: 20px 0 0 0;
        padding: 21px 0 0 28px;
    }

    .application__submit {
        display: block;
        width: 1222px;
        height: 309px;
        background: #70908B;
        font-size: 84px;
        line-height: 16px;
        margin: 0 auto;
        margin-top: 85px;
    }
    
    .application__count {
        text-align: center;
        padding: 80px 0 0 0; 
        display: block;
        position: relative;
    }
    
    .count_first {
        margin: 0 auto;
        font-size: 104px;
        line-height: 89px;
        color: #195557;
        margin-top: 700px;
    }
    
    .count_first::before {
        background-image: url("../assets/png/11111.png");
        background-size: 150px 150px;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        content: "";
        display: block;
        position: absolute;
        left: 50px;
        top: 600px;
    }   
    
    .count_last {
        padding: 25px 0 0 0;
        font-size: 54px;
        line-height: 82px;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    /* footer */

    .footer {
        padding: 100px 0 170px 0;
        margin: 1000px 0 0 0;
        background-color: #70908B;
        height: 100%;
        width: 1270px;
    }

    .footer__content {
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer_logo {
        background-image: url("../assets/png/лого.png");
        width: 620.54px;
        height: 306.07px;
        background-repeat: no-repeat;
        background-size: 620.54px 306.07px;
    }
    
    
    .footer__icons {
        display: block;
    }
    .icon_size {
        display: block;
        width: 240px;
        height: 240px;
        margin-right: 24px;
        background-size: 240px 240px;
    }
    
    .footer__phone {
        margin-top: 100px;
        font-size: 82px;
        line-height: 26px;
    }
    
}